# 1.Load data

In [1]:
import pandas as pd
import imblearn
import numpy as np

In [2]:
data = pd.read_csv('./OUTPUT/dataset.csv', encoding= 'unicode_escape')
data

                Sentence          Word  Tag
0            Sentence: 1        RECORD    0
1            Sentence: 2            OC    0
2                    NaN            AM    0
3                    NaN     gallstone    0
4                    NaN  pancreatitis    0
...                  ...           ...  ...
949802               NaN          M.D.    0
949803  Sentence: 132094           END    0
949804               NaN            OF    0
949805               NaN     DISCHARGE    0
949806               NaN        ORDERS    0

[949807 rows x 3 columns]

## 2. Extract mappings required for the neural network
To train a neural network, we will use two mappings as given below. The neural network will only take integers as input. So lets convert all the unique tokens in the corpus to its respective index.
- {token} to {token id}: address the row in embeddings matrix for the current token.
- {tag} to {tag id}: one-hot ground truth probability distribution vectors for computing the loss at the output of the network.

In [3]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [4]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)

In [5]:
data

                Sentence          Word  Tag  Word_idx  Tag_idx
0            Sentence: 1        RECORD    0     41951        0
1            Sentence: 2            OC    0     28118        0
2                    NaN            AM    0     16158        0
3                    NaN     gallstone    0      9560        0
4                    NaN  pancreatitis    0     32856        0
...                  ...           ...  ...       ...      ...
949802               NaN          M.D.    0     30669        0
949803  Sentence: 132094           END    0     14490        0
949804               NaN            OF    0      2930        0
949805               NaN     DISCHARGE    0       999        0
949806               NaN        ORDERS    0     32924        0

[949807 rows x 5 columns]

In [7]:
data.to_csv('./OUTPUT/view.csv')

## 3. Transform columns to extract sequential data
Next, lets fill NaN in 'sentence #' column using method ffill in fillna. Thereafter groupby on the sentence column to get a list of tokens and tags for each sentence.

In [6]:
data_fillna = data.fillna(method='ffill', axis=0)
data_group = data_fillna.groupby(['Sentence'],as_index=False
                                )['Word', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))

#data_fillna
data_group

<ipython-input-6-2d54414e46a7>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_group = data_fillna.groupby(['Sentence'],as_index=False

,Sentence,Word,Tag,Word_idx,Tag_idx
0,Sentence: 1,[RECORD],[0],[41951],[0]
1,Sentence: 10,"[WILL, D/C, ORDER, BE, USED, AS, THE, D/C, SUM...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[26027, 25552, 22405, 17340, 24812, 21367, 175...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,Sentence: 100,"[prandial, N/V/severe, upper, abdominal, pain....","[0, 1, 0, 1, 1, 0, 0, 0, 0]","[4582, 14322, 27792, 21267, 35552, 37631, 3618...","[0, 1, 0, 1, 1, 0, 0, 0, 0]"
3,Sentence: 1000,"[normal, limits., Cardiac, catheterization, da...","[0, 0, 0, 0, 0, 0, 0, 0]","[348, 41054, 8405, 16623, 8165, 38271, 8157, 9...","[0, 0, 0, 0, 0, 0, 0, 0]"
4,Sentence: 10000,"[year, old, Black, female, with, significant, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[17849, 12220, 32135, 40157, 31322, 12885, 221...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...
132089,Sentence: 99995,"[Height, foot, inch, and, weight, kg., Tempera...","[0, 0, 0, 0, 0, 0, 0]","[16951, 8780, 29308, 39397, 38601, 19517, 1248]","[0, 0, 0, 0, 0, 0, 0]"
132090,Sentence: 99996,"[degrees, heart, rate, and, sinus, blood, pres...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[1119, 31611, 4201, 39397, 30924, 27705, 13585...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
132091,Sentence: 99997,"[blood, pressure, left, arm, and, oxygen, satu...","[0, 0, 0, 0, 0, 0, 0]","[27705, 13585, 2454, 14458, 39397, 10873, 17364]","[0, 0, 0, 0, 0, 0, 0]"
132092,Sentence: 99998,"[No, carotid, bruits, regular, rate, and, rhyt...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[510, 36242, 33142, 33797, 4201, 39397, 2843, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
132093,Sentence: 99999,"[systolic, murmur, along, the, right, upper, s...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[9304, 41225, 21828, 37124, 38084, 27792, 2507...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [152]:
data_group.to_csv('./OUTPUT/datagroup.csv')

## 4. Pad sequences and split the dataset into train, test
Padding: The LSTM layers accept sequences of same length only. Therefore we will want to transform our list of token_sequences ('Word_idx') which is lists of integers into a matrix of shape (token_sequences, max_len). We can use any length as max_len. In this project we will be using length of the longest sequence as max_len. The sequences that are shorter than max_len are padded with a specified value at the end.
Import required packages

In [7]:
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical

In [8]:
def get_padTokens_padTags(data_group, data):
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= 0)
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= 0)

    return pad_tokens, pad_tags

pad_tokens, pad_tags = get_padTokens_padTags(data_group, data)

In [9]:
print('length of tokens ' + str(len(pad_tokens)))
print('length of tags ' + str(len(pad_tags)))

length of tokens 132094
length of tags 132094

## StratifiedKFold Cross Validation

In [24]:
import numpy as np
import tensorflow as tf
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model
from keras import backend as K
import keras as keras
from keras.datasets import mnist
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.metrics import roc_auc_score
from keras import metrics
from sklearn.utils import class_weight
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

In [11]:
from numpy.random import seed
seed(1)
tf.random.set_seed(2)

In [14]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 256
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  42057
output_dim:  256
input_length:  49
n_tags:  2

In [15]:
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [30]:
def get_bilstm_lstm_model():
    model = Sequential()
    model.add(Embedding(input_dim = input_dim, output_dim = output_dim, input_length = input_length))
    model.add(Conv1D(filters=256, kernel_size=3, padding='same', activation='relu'))
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
    model.add(Dense(1, activation='sigmoid'))
    adam = tf.keras.optimizers.Adam(learning_rate=0.0005, beta_1=0.9, beta_2=0.999)
    # Compile model
    model.compile(loss='binary_crossentropy', sample_weight_mode="temporal", optimizer='adam', metrics=['acc', precision_m, recall_m, f1_m])
    model.summary()
    
    return model

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

skf = StratifiedKFold(n_splits = 5, shuffle = True)

fold_number = 1
f1_per_fold = []
recall_per_fold = []
precision_per_fold = []
acc_per_fold = []
loss_per_fold = []

for i, (train_index, val_index) in enumerate(skf.split(pad_tokens, np.sum(pad_tags, axis = 1))):
    
    print("Training on fold " + str(i+1) + "/5..........")
    
    #Split training set and validation set
    x_train, x_val = pad_tokens[train_index], pad_tokens[val_index]
    y_train, y_val = pad_tags[train_index], pad_tags[val_index]
    
    #Assigning sample weights in training set
    print(str(fold_number) + ": started assigning sample weights")
    weights = class_weight.compute_class_weight('balanced',
                                                 np.unique(np.ravel(y_train,order='C')),
                                                 np.ravel(y_train,order='C'))
    
    train_tags2 = np.copy(y_train)
    train_tokens2 = np.copy(x_train)
    train_tags2 = train_tags2.astype(float)
    
    indexTotal = 0
    for tags in train_tags2:
        indexTags = 0
        for symptom in tags:
            if symptom == 1:
                train_tags2[indexTotal][indexTags] = float(weights[1])
            else:
                train_tags2[indexTotal][indexTags] = float(weights[0])
            indexTags = indexTags+1
        indexTotal = indexTotal + 1
   
    weights = train_tags2.reshape((-1, 49, 1))
    print(str(fold_number) + ": finished assigning sample weights")
    
    #Getting Model Architecture
    model = get_bilstm_lstm_model()
    
    #Running Model
    history = model.fit(x_train, y_train, sample_weight = weights, batch_size=128, verbose=1, epochs=20)
    
    #Evaluate model
    scores = model.evaluate(x_val, y_val, verbose = 0)
    print(f'Score for fold {fold_number}: {model.metrics_names[0]} of {scores[0]}; {model.metrics_names[1]} of {scores[1]}; {model.metrics_names[2]} of {scores[2]}; {model.metrics_names[3]} of {scores[3]}; {model.metrics_names[4]} of {scores[4]} %')
    f1_per_fold.append(scores[4])
    recall_per_fold.append(scores[3])
    precision_per_fold.append(scores[2])
    acc_per_fold.append(scores[1])
    loss_per_fold.append(scores[0])
    
    #Increase fold number
    fold_number = fold_number + 1

C:\Users\jonat\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"
C:\Users\jonat\anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass classes=[0 1], y=[0 0 0 ... 0 0 0] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

Training on fold 1/5..........
1: started assigning sample weights
1: finished assigning sample weights
Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_7 (Embedding)     (None, 49, 256)           10766592

 conv1d_3 (Conv1D)           (None, 49, 256)           196864

 lstm_6 (LSTM)               (None, 49, 256)           525312

 dense_3 (Dense)             (None, 49, 1)             257

=================================================================
Total params: 11,489,025
Trainable params: 11,489,025
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
826/826 [==============================] - 368s 444ms/step - loss: 0.0123 - acc: 0.9964 - precision_m: 0.6491 - recall_m: 0.4855 - f1_m: 0.5330
Epoch 2/20
826/826 [==============================] - 394s 477ms/step - loss: 0.0047 - acc: 0.9985 - precision_m: 0.8196 - recall_m: 0.7498 - f1_m: 0.7739
Epoch 3/20
826/826 [==============================] - 394s 477ms/step - loss: 0.0037 - acc: 0.9987 - precision_m: 0.8509 - recall_m: 0.7916 - f1_m: 0.8134
Epoch 4/20
826/826 [==============================] - 394s 477ms/step - loss: 0.0032 - acc: 0.9989 - precision_m: 0.8717 - recall_m: 0.8273 - f1_m: 0.8430
Epoch 5/20
826/826 [==============================] - 388s 469ms/step - loss: 0.0028 - acc: 0.9991 - precision_m: 0.8857 - recall_m: 0.8497 - f1_m: 0.8622
Epoch 6/20
826/826 [==============================] - 357s 432ms/step - loss: 0.0025 - acc: 0.9991 - precision_m: 0.8950 - recall_m: 0.8617 - f1_m: 0.8735
Epoch 7/20
826/826 [==============================] - 335s 405ms/step - loss: 0.0023 - acc: 0.9992 - precision_m: 0.9022 - recall_m: 0.8798 - f1_m: 0.8870
Epoch 8/20
826/826 [==============================] - 332s 401ms/step - loss: 0.0020 - acc: 0.9993 - precision_m: 0.9124 - recall_m: 0.8928 - f1_m: 0.8992
Epoch 9/20
826/826 [==============================] - 332s 402ms/step - loss: 0.0019 - acc: 0.9994 - precision_m: 0.9195 - recall_m: 0.9008 - f1_m: 0.9070
Epoch 10/20
826/826 [==============================] - 333s 404ms/step - loss: 0.0017 - acc: 0.9994 - precision_m: 0.9225 - recall_m: 0.9085 - f1_m: 0.9126
Epoch 11/20
826/826 [==============================] - 333s 403ms/step - loss: 0.0016 - acc: 0.9994 - precision_m: 0.9270 - recall_m: 0.9173 - f1_m: 0.9193
Epoch 12/20
826/826 [==============================] - 332s 402ms/step - loss: 0.0015 - acc: 0.9995 - precision_m: 0.9322 - recall_m: 0.9227 - f1_m: 0.9248
Epoch 13/20
826/826 [==============================] - 335s 405ms/step - loss: 0.0014 - acc: 0.9995 - precision_m: 0.9349 - recall_m: 0.9306 - f1_m: 0.9303
Epoch 14/20
 66/826 [=>............................] - ETA: 5:06 - loss: 0.0011 - acc: 0.9996 - precision_m: 0.9507 - recall_m: 0.9404 - f1_m: 0.9437

In [ ]:
print('Score per fold')
for i in range(0, len(acc_per_fold)):
    print("-----------")
    print(f'> Fold {i+1} - Loss: {loss_per_fold[i]} - Accuracy: {acc_per_fold[i]} - Precision: {precision_per_fold[i]} - Recall: {recall_per_fold[i]} - F1: {f1_per_fold[i]}%')
print('------------')
print('Average scores for all folds:')
print(f'> Accuracy: {np.mean(acc_per_fold)} (+- {np.std(acc_per_fold)})')
print(f'> Precision: {np.mean(precision_per_fold)} (+- {np.std(precision_per_fold)})')
print(f'> Recall: {np.mean(recall_per_fold)} (+- {np.std(recall_per_fold)})')
print(f'> F1: {np.mean(f1_per_fold)} (+- {np.std(f1_per_fold)})')
print(f'> Loss: {np.mean(loss_per_fold)}')
print('------------')